food_meta.csv
/Test_img
__pycache__/
yolov8-fastapi/FoodSAM/output_panoptic/
yolov8-fastapi/FoodSAM/output_semantic/
yolov8-fastapi/FoodSAM/ckpts/SETR_MLA/*
!yolov8-fastapi/FoodSAM/ckpts/SETR_MLA/.gitkeep
yolov8-fastapiFoodSAM/ckpts/*
yolov8-fastapi/FoodSAM/iamges/*
*.ipynb
*.ipynb_checkpoints
*.zip
