.uploader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.img-wrapper img {
  width: 240px;
  height: 240px;
}

.upload-button button {
  margin: 0 5px;
}
